[Unit]
Description=Blackbox Exporter
Wants=network-online.target
After=network.target

[Service]
User=blackbox_exporter
Group=blackbox_exporter
Type=simple
ExecStart=/usr/local/bin/blackbox_exporter  --config.file /etc/blackbox_exporter/blackbox_exporter.yml 
[Install]
WantedBy=multi-user.target
